.ProductPage-container {
  display: flex;
}
.left-container {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
}
.right-container {
  width: 100%;
}
@media only screen and (max-width: 540px) {
  .ProductPage-container {
    display: flex;
    flex-direction: column;
  }
  .left-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 90%;
    height: auto;
    position: unset;
    margin: 20px auto;
  }
}
