.container-Newsletter {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-Newsletter-title h1,
.container-Newsletter-title h3 {
  color: white;
}
.container-Newsletter-input {
  width: 40%;
}
.Newsletter-input {
  width: 100%;
}
@media only screen and (max-width: 864px) {
  .container-Newsletter {
    flex-direction: column;
    justify-content: center;
  }
  .container-Newsletter-title h1,
  .container-Newsletter-title h3 {
    text-align: center;
  }
  .container-Newsletter-title h3 {
    padding-bottom: 40px;
  }
  .container-Newsletter-input {
    width: 70%;
  }
}

@media only screen and (max-width: 440px) {
  .container-Newsletter-input {
    width: 100%;
  }
}
