.cart-shopping .cart-table tr th {
  background: #ededed;
}

.cart-shopping .cart-table .input-number {
  display: flex;
  flex-direction: row;
}

.cart-shopping .cart-table .input-number-control-btn {
  border: none;
  box-shadow: none;
  background: gray;
}

.cart-shopping .cart-table .input-number-control-btn:hover {
  background: rgb(150, 150, 150);
}

.cart-shopping .cart-table .input-number-control-btn:active {
  background: rgb(95, 95, 95);
}

.cart-shopping .cart-table .input-number-control-btn.plus-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cart-shopping .cart-table .input-number-control-btn.minus-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cart-shopping .cart-table .ant-input-number {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.cart-shopping .cart-table .ant-input-number:hover {
  border-color: gray !important;
}

.cart-shopping .cart-table .ant-input-number-focused {
  border-color: gray !important;
  box-shadow: none !important;
}

.cart-shopping .cart-table .ant-input-number-input-wrap {
  border: none;
  width: auto;
}

.cart-shopping .cart-table .ant-input-number-input-wrap input {
  text-align: center;
  padding: 0 8px;
}

.cart-shopping .cart-table .ant-input-number-handler-wrap {
  display: none;
}

.cart-shopping .cart-list {
  display: none;
}

.cart-list {
  width: 100%;
  height: 100%;
}

.cart-list div:first-child {
  flex: 1 1 auto;
}

.cart-list .item {
  display: flex;
  flex-direction: column;
}

.cart-list .item .item-thumbnail {
  max-width: 500px;
  max-height: 150px;
  width: auto;
}

.cart-list .item .item-name {
  padding-left: 8px;
}

.cart-list .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.cart-list .row .title {
  font-weight: bold;
}

.cart-list .input-number {
  display: flex;
  flex-direction: row;
}

.cart-list .input-number-control-btn {
  border: none;
  box-shadow: none;
  background: gray;
}

.cart-list .input-number-control-btn:hover {
  background: rgb(150, 150, 150);
}

.cart-list .input-number-control-btn:active {
  background: rgb(95, 95, 95);
}

.cart-list .input-number-control-btn.plus-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cart-list .input-number-control-btn.minus-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cart-list .ant-input-number {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.cart-list .ant-input-number:hover {
  border-color: gray !important;
}

.cart-list .ant-input-number-focused {
  border-color: gray !important;
  box-shadow: none !important;
}

.cart-list .ant-input-number-input-wrap {
  border: none;
  width: auto;
}

.cart-list .ant-input-number-input-wrap input {
  text-align: center;
  padding: 0 8px;
}

.cart-list .ant-input-number-handler-wrap {
  display: none;
}

@media (max-width: 991px) {
  .cart-shopping .cart-table {
    display: none;
  }

  .cart-shopping .cart-list {
    display: block;
  }
}
