.cart-page {
  padding: 150px 100px 100px;
  margin: auto;
  max-width: 100%;
  min-width: 100%;
}

.cart-page .cart-page-bottom {
  margin-top: 2rem;
}

.cart-page .cart-page-bottom .continue-btn {
  margin-bottom: 2rem;
}

@media (max-width: 1440px) {
  .cart-page {
    padding: 120px 60px 80px;
  }
}

@media (max-width: 1200px) {
  .cart-page {
    padding: 120px 40px 60px;
  }
}

@media (max-width: 425px) {
  .cart-page {
    padding: 100px 16px 20px;
  }

  .cart-page .cart-page-bottom .continue-btn {
    float: right;
    margin-bottom: 1rem;
  }
}
