.ProductDetail-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
}
.ProductDetail-wapper {
  display: flex;
  /* align-items: center; */
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding-top: 60px;
}
.ProductDetail-container-img {
  width: 450px;
  height: 500px;
}
.ProductDetail-container-img img {
  width: 100%;
  height: 100%;
}
.ProductDetail-container-title {
  width: 60%;
  margin-left: 30px;
  padding-top: 30px;
}
.ProductDetail-container-title h1 {
  font-size: 35px;
}
.input-number-control-btn {
  border: none;
  box-shadow: none;
  background: gray;
}
.input-number-control-btn:hover {
  background: rgb(194, 192, 192);
}
.input-number-control-btn:active {
  background: rgb(95, 95, 95);
}
.product-tags ul li {
  display: inline-block;
  list-style-type: none;
  background-color: greenyellow;
  border-radius: 15px;
  font-size: 13px;
  padding: 3px 10px 1px 10px;
  cursor: pointer;
}
.product-tags ul li:nth-child(n + 2) {
  margin-left: 10px;
}
@media only screen and (max-width: 748px) {
  .ProductDetail-container-img {
    width: 400px;
    height: 300px;
  }
  .ProductDetail-container-title {
    padding-top: 0;
  }
  .ProductDetail-container {
    width: 95%;
  }
}
@media only screen and (max-width: 734px) {
  .ProductDetail-wapper {
    flex-direction: column-reverse;
  }
  .ProductDetail-container-title {
    width: 100%;
    margin-left: 0;
  }
  .ProductDetail-container-img {
    padding-top: 20px;
  }
  .ProductDetail-container {
    width: 80%;
  }
}
@media only screen and (max-width: 579px) {
  .ProductDetail-container {
    width: 95%;
  }
}
@media only screen and (max-width: 420px) {
  .ProductDetail-container-img {
    width: 300px;
    height: 270px;
  }
}
